<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main>

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h1 class="text-center">Oops... something went wrong...</h1>
            </div>

        </div>
    </div>
    <div class="container bg-blur rounded mt-3 mb-4 text-center">
        <div class="text-center">
            <img src="/images/panda-it.jpg" alt="panda team" style="width: 50%" class="rounded">
        </div>
        <div class="row mt-3 mb-3">
            <div class="col-9 bg-light rounded m-auto" style="height: 7vh; overflow: auto">
                <h3 class="pt-3">Our team of elite pandas has been dispatched to fix the issue!</h3>
            </div>
        </div>
    </div>
</main>

</body>
</html>