<!--<!DOCTYPE html>-->

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:replace="~{fragments/commons::head}"/>

<body>

<div th:replace="~{fragments/commons::topbar}"></div>

<th:block th:replace="~{fragments/commons::navbar}"/>

<!--Head Photo Start-->
<div class="container-fluid page-header py-5">
    <div class="container py-5">
        <h1 class="display-3 text-white mb-3 animated slideInDown text-center">Your message has been sent.</h1>
        <nav aria-label="breadcrumb animated slideInDown"></nav>
    </div>
</div>
<!--Head Photo End-->



<!--<footer th:replace="~{fragments/commons::footer}"></footer>-->

<th:block th:replace="~{fragments/commons::scripts}"></th:block>

</body>
</html>