<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Login</span></h1>
    <hr class="hr-3 w-25 bg-white"/>
    <form class="mx-auto w-25 bg-blur"
          th:method="POST"
          th:action="@{/users/login}">

        <div class="form-group">
            <div class="label-holder text-white d-flex justify-content-center">
                <label for="username" class="h3 mb-2">Username</label>
            </div>
            <input type="text"
                   class="form-control"
                   id="username"
                   name="username"
                   placeholder="username"
                   th:value="${username}"/>
        </div>

        <div class="form-group">
            <div class="label-holder text-white d-flex justify-content-center">
                <label for="password" class="h3 mb-2">Password</label>
            </div>
            <input type="password"
                   class="form-control"
                   id="password"
                   name="password"
                   placeholder="password"/>
        </div>
        <hr>
        <p th:if="${bad_credentials}" class="errors alert alert-danger">
            Incorrect username or password.
        </p>
        <div class="button-holder d-flex justify-content-center">
            <input type="submit" class="btn btn-warning  mb-3" value="Login"/>
        </div>

    </form>
</main>

<footer>
<!--    th:replace="~{fragments/commons::footer}"-->
    <div class="container-fluid bg-dark text-secondary footer mt-2 py-2 wow fadeIn position-fixed bottom-0" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h5 class="text-light mb-4">Address</h5>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Alexander Nevsky Square, Sofia, Bulgaria
                    </p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>bulmazebg@gmail.com</p>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5 class="text-light mb-4">Partners</h5>
                    <a class="btn btn-link" href="https://softuni.bg">SoftUni</a>
                    <a class="btn btn-link" href="">Kramar Group</a>
                    <a class="btn btn-link" href="">BG Adventure</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5 class="text-light mb-4">Quick Links</h5>
                    <a class="btn btn-link" th:href="@{/about}">About Us</a>
                    <a class="btn btn-link" th:href="@{/contact}">Contact Us</a>
                    <a class="btn btn-link" th:href="@{/terms-conditions}">Terms & Condition</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5 class="text-light mb-4">Even More Links</h5>
                    <a class="btn btn-link" th:href="@{/faq}">FAQ</a>
                    <a class="btn btn-link" th:href="@{/how-to-play}">Game Rules</a>
                    <a class="btn btn-link" th:href="@{/reviews}">Reviews</a>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
