<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:replace="~{fragments/commons::head}"/>

<body>

<th:block th:replace="~{fragments/commons::topbar}"/>

<th:block th:replace="~{fragments/commons::navbar}"/>

<div class="container">
    <div class="row">
        <div class="col-sm">
<!--            <h2 th:text="'Welcome, ' + ${#authentication.getPrincipal().getUsername()}"></h2>-->
            <button class="btn border-success shadow rounded rounded-pill text-dark"
                    data-bs-toggle="collapse" data-bs-target="#demo">Show Clue +</button>

            <div id="demo" class="collapse text-success mt-2" style="width: 70%">
                <th:block>
                    <p th:text="${clueDTO.getDescription()}"></p>
                </th:block>
            </div>
        </div>
        <div class="col-sm">
            <h1 th:text="'Question #' + ${userDTO.getUserProgress() + 1}" class="text-center">Question #1</h1>
        </div>
        <div class="col-sm text-end">
            <label for="file">Progress</label>
            <progress id="file" value="32" max="100"
                      th:value="${userDTO.getUserProgress() * 100 / allQuestions.size()}">
            </progress>
        </div>
    </div>
</div>

<div class="container bg-blur rounded mt-3 mb-4 text-center">
    <form th:method="POST"
          th:action="@{/play}"
          th:object="${answerDTO}">

        <div class="text-center">
            <img th:src="${question.getImageUrl()}" alt="Question photo" style="width: 50%" class="rounded">
        </div>


        <div class="row mt-3 mb-3">
            <div class="col-9 bg-light rounded m-auto">
                <h3 th:text="${question.description}"></h3>
            </div>
        </div>
        <hr>
        <!--    Question-->
        <h4 th:text="${question.ask}"></h4>

        <!--Answer-->
        <div class="container col-8">
            <div class="row">
                <div class="col border-dark">
                    <input th:value="${options.getFirst()}"
                           th:field="*{description}"
                           type="radio" class="radio" name="options" id="option1" autocomplete="off" required>
                    <label th:text="${options.getFirst()}"
                           class="btn btn-outline-primary m-2" for="option1">3</label>
                </div>

                <div class="col">
                    <input th:value="${options.getSecond()}"
                           th:field="*{description}"
                           type="radio" class="radio" name="options" id="option2" autocomplete="off" required>
                    <label th:text="${options.getSecond()}"
                           class="btn btn-outline-primary m-2" for="option2">5</label>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <input th:value="${options.getThird()}"
                           th:field="*{description}"
                           type="radio" class="radio" name="options" id="option3" autocomplete="off" required>
                    <label th:text="${options.getThird()}"
                           class="btn btn-outline-primary m-2" for="option3">6</label>
                </div>

                <div class="col">
                    <input th:value="${options.getFourth()}"
                           th:field="*{description}"
                           type="radio" class="radio" name="options" id="option4" autocomplete="off" required>
                    <label th:text="${options.getFourth()}"
                           class="btn btn-outline-primary m-2" for="option4">8</label>
                </div>
            </div>

        </div>
        <!--EO: Answer-->

        <div class="justify-content-center">
            <button type="submit" class="btn btn-primary">
                Submit Answer
            </button>
        </div>
    </form>
</div>


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>

<th:block th:replace="~{fragments/commons::scripts}"></th:block>
</body>

</html>